<html>
  <head>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h4>Create a folder</h4>
    <p>
      <form action="/createUwU/" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" value="create">
      </form>
    </p>
  </body>
</html>
