<html>
  <head>
    <title>OwO</title>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h4>Public folders</h4>
    <p style=" position: absolute; bottom: 10px;">Public Folder (test build): by <a href="http://raccoondude.com">Raccoondude</a></p>
    {% if folder_list %}
    {% for Folder in folder_list %}
    <p><a href="view/{{Folder.folder_ID}}">{{Folder.folder_name}}</a></p>
    {% endfor %}
    {% else %}
    <p>No folders</p>
    {% endif %}
    <p style=" position: absolute; bottom: 10px; right: 10px;">Your IP address, {{ip}}, will be used for moderation</p>
  </body>
</html>
