<html>
  <head>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h4>Delete a post</h4>
    <p>
      <form action="/del/" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" value="delete">
      </form>
    </p>
  </body>
</html>
