<html>
  <head>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h4>Remove a folder</h4>
    <p>
      <form action="/removeOwO/" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" value="destory">
      </form>
  </body>
</html>
