<html>
  <head>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h4>Submit a request for mod</h4>
    <p>
      <form action="/sub/" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" value="submit">
      </form>
  </body>
</html>
