<html>
  <head>
    <style>
      body {
      text-align:center;
      }
    </style>
    <title>Upload</title>
  </head>
  <body>
    <h4>Upload to {{name}}</h4>
    <form method="post" action="/post/{{ID}}" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
