<html>
  <head>
    <style>
    body {
    text-align:center;
    }
    img {
    width: 200px;
    height: 200px;
    border-style: solid;
    color: black;
    }
    </style>
    <title>{{name}}</title>
    </head>
  <body>
    <h4>{{name}}</h4>
    <p><a href="/">Go Back</p>
    <p><a href="upload/{{OwO.folder_ID}}">Upload</a></p>
    {% if image_list %}
    {% for Image in image_list %}
    <img src="/media/{{Image.image_image}}"><br><a href="/media/{{Image.image_image}}">Download</a><br>
    {% endfor %}
    {% else %}
    <p>No images</p>
    {% endif %}
  </body>
</html>
